<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<header><h1>Menu Games</h1></header>
<body>

<div>

    <a class="btn btn-info btn-outline-dark btn-lg text-white" th:href="@{allGames}">
        <span style="font-size: large">All Games</span>
    </a><br>
</div>

<div>

<a class="btn btn-info btn-outline-dark btn-lg text-white" th:href="@{addGame}">
    <span style="font-size: large">Add game</span>
</a><br>
</div>

<div class="text-center">
    <a class="btn btn-info btn-outline-dark text-white m-3" th:href="@{home}">Back</a>
</div>




</body>
</html>