<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div>
    <h1>Add Game</h1>

<!--        <div class="form-group">-->
<!--            <label for="game">Game name</label>-->
<!--            <input class="form-control" type="text" id="game" name="game" placeholder="Enter game name" autofocus />-->
<!--        </div>-->

<!--        <div>-->
<!--            <button type="submit" >Add game</button>-->
<!--        </div>-->

        <form action="#" th:action="@{/addGame}" th:object="${addGame}" method="post">
            <p>Game Name: <input type="text" field="*{content}" name="content"></p>
            <p><input type="submit" value="Submit" /> || <input type="reset" value="Reset" />



        <div class="text-center">
            <a class="btn btn-info btn-outline-dark text-white m-3" th:href="@{menuGame}">Back</a>
        </div>
    </form>
</div>
</body>