<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home of games</title>
</head>
<header>
    <h1>Book of games & users</h1>
</header>
<body>

<h2>
    <a class="btn btn-info btn-outline-dark btn-lg text-white" th:href="@{menuGame}">
        <span style="font-size: large">Game</span>
    </a><br>
    <a class="btn btn-info btn-outline-dark btn-lg text-white" th:href="@{/teacher/menuTeacher.html}">
        <span style="font-size: large">User</span>
    </a>
</h2>
</body>
</html>